header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
    .left-aside-header{
        color: blueviolet;
    }
    .right-aside-header{
        display: flex;
        align-items: center;
        color: blueviolet;
        svg{
            cursor: pointer;
        }
        input{
            padding: 5px 15px 5px 15px;
            border-radius: 5px;
            outline: none;
            border: 1px solid #ccc;
            margin-right: 10px;
            color: blueviolet;
            &::placeholder{
                color: blueviolet;
            }
        }
        span{
            height: 25px;
            width: .5px;
            background-color: #ccc;
            margin: 0 15px;
        }
        h3{
            font-size: 16px;
            font-weight: 600;
            margin: 0;
            margin-right: 10px;
        }
        img{
            width: 35px;
            height: 35px;
            object-fit: cover;
            border-radius: 50%;
        }
    }
}